
@{
    ViewData["Title"] = "Register";
}

<main class="form-signin">
    <form>
        <img class="mb-4" src="~/img/registerlogo.png" alt="" width="35%" height="35%">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Nombre</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>


        <div class="checkbox mb-3">
            <label>
                <a asp-action="">Need an account? Register.</a>
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">crear cuenta</button>
        <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
    </form>
</main>

