@model CIneDotNet.Models.Funcion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Funcion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="idSala" class="control-label"></label>
                <select asp-for="idSala" class="form-control" asp-items="ViewBag.idSala"></select>
                <span asp-validation-for="idSala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idPelicula" class="control-label"></label>
                <select asp-for="idPelicula" class="form-control" asp-items="ViewBag.idPelicula"></select>
                <span asp-validation-for="idPelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantClientes" class="control-label"></label>
                <input asp-for="cantClientes" class="form-control" />
                <span asp-validation-for="cantClientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costo" class="control-label"></label>
                <input asp-for="costo" class="form-control" />
                <span asp-validation-for="costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
